{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>Gerador de posts</h1>
  <p>Gera imagem e texto para posts no Facebook</p>
</div>



<section class="form">
  <form action="" method="POST" enctype="multipart/form-data">
    <fieldset id="image-fieldset">
      <legend>Imagem</legend>
      <div class="col-md-4">
        <label for="file">Selecione o arquivo para imagem de fundo...</label>
        <input type="file" name="file" id="file" />
      </div>
      <div class="col-md-4">
        <label for="url">... ou cole uma URL</label>
        <input type="text" name="url" id="url" value="{{ url }}" />
      </div>
      <div class="col-md-4">
        <label for="image_kind">Que tipo de imagem?</label>
        <select id="image_kind" name="image_kind">
        {% for i, kind in image_kinds %}
          <option value="{{ i }}" {% if i == image_kind %}selected{% endif %}>{{ kind }}</option>
        {% endfor %}
        </select>
      </div>
    </fieldset>
    <fieldset id="image-processing">
      <legend>Tratamento</legend>
      <div class="col-md-4">
        <input type="checkbox" id="equalize" name="equalize" {% if equalize %}checked{% endif %}>
        <label for="equalize">Equalizar imagem pelo histograma?</label>
      </div>
      <div class="col-md-4">
        <input type="checkbox" id="colorize" name="colorize" {% if colorize %}checked{% endif %}>
        <label for="colorize">Colorizar imagem?</label>
      </div>
      <div class="col-md-4">
        <p>Colorização</p>
        <label for="white">Cor clara</label>
        <input type="color" id="white" name="white" value="{{ white }}" />
        <label for="black">Cor escura</label>
        <input type="color" id="black" name="black" value="{{ black }}" />
      </div>
    </fieldset>
    <fieldset id="image-text-fieldset">
      <legend>Texto da imagem</legend>
      <div class="col-md-6">
        <p>Título</p>
        <textarea name="title" id="title" rows="3" cols="50">{{ title }}</textarea>
        <div>
          <label for="font_family" class="adjusted">Família da fonte</label>
          <select id="font_family" name="font_family">
          {% for i, font in font_families %}
            <option value="{{ i }}" {% if i == font_family %}selected{% endif %}>{{ font }}</option>
          {% endfor %}
          </select>
        </div>
        <div>
          <label for="font_size" class="adjusted">Tamanho da fonte</label>
          <input type="number" inputmode="numeric" name="font_size" id="font_size" value="{{ font_size }}" />
        </div>
        <div>
          <label for="font_color" class="adjusted">Cor da fonte</label>
          <input type="color" id="font_color" name="font_color" value="{{ font_color }}" />
        </div>
        <div>
          <p>Posicionamento do texto</p>
          <label for="text_x">X</label>
          <input type="number" inputmode="numeric" id="text_x" name="text_x" value="{{ text_x }}" />
          <label for="text_y">Y</label>
          <input type="number" inputmode="numeric" id="text_y" name="text_y" value="{{ text_y }}" />
        </div>
      </div>
      <div class="col-md-6">
        <p>Overlay</p>
        <textarea name="overlay_title" id="overlay_title" rows="3" cols="50">{{ overlay_title }}</textarea>
        <div>
          <label for="overlay_font_family" class="adjusted">Família da fonte</label>
          <select id="overlay_font_family" name="overlay_font_family">
          {% for i, font in font_families %}
            <option value="{{ i }}" {% if i == overlay_font_family %}selected{% endif %}>{{ font }}</option>
          {% endfor %}
          </select>
        </div>
        <div>
          <label for="overlay_font_size" class="adjusted">Tamanho da fonte</label>
          <input type="number" inputmode="numeric" name="overlay_font_size" id="overlay_font_size" value="{{ overlay_font_size }}" />
        </div>
        <div>
          <label for="overlay_font_color" class="adjusted">Cor da fonte</label>
          <input type="color" id="overlay_font_color" name="overlay_font_color" value="{{ overlay_font_color }}" />
        </div>
        <div>
          <p>Posicionamento do texto</p>
          <label for="overlay_text_x">X</label>
          <input type="number" inputmode="numeric" id="overlay_text_x" name="overlay_text_x" value="{{ overlay_text_x }}" />
          <label for="overlay_text_y">Y</label>
          <input type="number" inputmode="numeric" id="overlay_text_y" name="overlay_text_y" value="{{ overlay_text_y }}" />
        </div>
      </div>
    </fieldset>
    <fieldset id="post-text-fieldset">
      <legend>Texto do post</legend>
      <div>
        <label for="post_title">Título</label>
        <input type="text" name="post_title" value="{{ post_title }}" />
      </div>
      <div>
        <label for="post_message">Mensagem</label>
        <textarea name="post_message" id="post_message" rows="10" cols="100">{{ post_message }}</textarea>
      </div>
    </fieldset>
    <div class="col-md-12 submit">
      <button type="submit">Gerar!</button>
    </div>
    <br class="clearfix" />
  </form>
</section>
<section class="result">
  <h3 id="result">Resultado</h3>
  {% if error %}
  <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}
  {% if image %}
  <div class="alert alert-success" role="alert">Post gerado com sucesso!</div>
  <div class="post-text">
    <p>◥ {{ post_title }}</p>
    {% for paragraph in post_message.split('\n') %}
    <p>{{ paragraph }}</p>
    {% endfor %}
    <p>◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥◥</p>
    <p>POEMA - POLÍTICA ECONÔMICA DA MAIORIA</p>
    <p>Para mais informações: https://poema.info</p>
    <p>Twitter: twitter.com/movimentopoema</p>
    <p>Instagram: www.instagram.com/politica_economica_da_maioria/</p>
    <p>Youtube: https://bit.ly/movimentopoema</p>
  </div>
  <div><img src="data:image/png;base64,{{ image }}" /></div>
  {% endif %}
</section>

{% endblock %}
